{% extends 'base.html' %}

{% block title %}
Messages
{% endblock title %}


{% block content %}
    <div>
        {% if texts %}
            {% for text in texts %}
                <p>
                    <h4>Context: </h4>{{text.message_context}}
                    <p>
                        <h3>Message Body:</h3>
                        <p><h4>{{text.message_text}}</h4></p>
                    </p>
                    <br>
                    <form action='' method="POST" id='textform'>
                        {% csrf_token %}
                        <button class="btn btn-success" name='update_id' type='submit' value='{{text.id}}' form='textform'>Edit</button>
                    </form>
                </p>
            {% endfor %}
        {% else %}
                <button><a href="../message_create">Add Messages</a></button>
        {% endif %}
        
    </div>

{% endblock content %}